{% if site.data.publications %}
<section class="section publications-section">

  <h2 class="section-title"><i class="fa fa-archive"></i>publications</h2>

  {% for intro in site.data.publications %}
  <div class="intro">
      <p>{{ intro.description }}</p>
  </div><!--//intro-->
  {% endfor%}

  {% for publication in site.data.publications %}
    <div class="item">

      {% if publication.title_right %}
      <div class='per-publication-title dotted-line'>
      {% else %}
      <div class='per-publication-title'>
      {% endif %}
          <span style='padding-right: 2px'><strong>{{ publication.title }}</strong></span>
          {% if publication.title_right %}
          <span style='padding-left: 5px;float:right'>{{ publication.title_right }}</span>
          {% endif %}
      </div>

      {% if publication.tagline %}
      <div class="publication-tagline">{{ publication.tagline }}</div>
      {% endif %}

    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}

